/* center all the elemants & add  RepeatBgImg*/
body{  
    background-image: url("../img/RepeatBgImg.svg");
    margin: 0;
    font-family: 'Brush Script MT', cursive;
    text-align: center;

    
}


/* center all the img*/
img{
  display: block;
  margin: 0 auto;
}


/* Change paragraph,header1 colore's */
p,h1{
    
    color: antiquewhite;
    background-color: #92592b;
    font-size: 25px;
    padding: 10px;
    
}

/* Change header2 style */
h2 {
    box-sizing: border-box;
    font-size: 50px;
    width: 300px;
    height: auto;
    padding: 10px;
    color: antiquewhite;
    background-color: #947962;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* Change header2 style */
ul,ol {
    box-sizing: content-box;
    padding: 20px;
    background-color: rgb(233, 191, 129);
    border-radius: 10px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    list-style-type: none;

}


/* Change back btn style */
a {
  display: block;
  padding: 10px 20px;
  margin: 20px;
  margin-bottom: 70px;
  background-color: #c45e05;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

a:hover {
  background-color: #1a1614;
}   