body {
    background-color: bisque;
    font-family: Verdana, Tahoma, sans-serif;
    
}

/* Styling for the potato image */
.potato-salad-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling for headings */
h1 {
    font-size: 47px;
    color: rgb(238, 136, 3);
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 20px;
    text-align: center;
}

h3 {
    font-size: 35px;
}

/* Styling for list items */
li {
    font-size: 20;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Styling for paragraphs */
p {
    font-size: 25px;
    text-align: center;
}
